<% provide :title, t("static_pages.about.about") %>
<h1><%= t "static_pages.about.about" %></h1>
<p>
  <%= t "static_pages.about.the" %>
  <a href="http://www.railstutorial.org/"><em>
    <%= t "static_pages.home.rnr" %></em></a>
  <%= t "static_pages.about.is_a" %>
  <a href="http://www.railstutorial.org/book"></a> 
  <%= t "static_pages.about.book" %> <%= t "static_pages.about.is_a" %>
  <a href="http://screencasts.railstutorial.org/"> 
    <%= t "static_pages.about.screen" %></a>
  <%= t "static_pages.about.teach_web" %>
  <a href="http://rubyonrails.org/"><%= t "static_pages.help.help_sec" %></a>.
  <%= t "static_pages.about.app_tut" %>
</p>
