<% provide :title, t("static_pages.about.about0") %>
<h1><%= t "static_pages.about.about0" %></h1>
<p>
  <%= t "static_pages.about.about7" %>
  <a href="http://www.railstutorial.org/"><em>
  <%= t "static_pages.help.dh3" %></em></a> 
  <%= t "static_pages.about.about1" %>
  <a href="http://www.railstutorial.org/book"></a> 
  <%= t "static_pages.about.about6" %> <%= t "static_pages.about.about2" %>
  <a href="http://screencasts.railstutorial.org/"> 
  <%= t "static_pages.about.about3" %></a>
  <%= t "static_pages.about.about4" %>
  <a href="http://rubyonrails.org/"><%= t "static_pages.help.dh3" %></a>.
  <%= t "static_pages.about.about5" %>
</p>
