<% provide :title, t("static_pages.help.help1") %>
<h1><%= t "static_pages.help.help1" %></h1>
<p>
  <%= t "static_pages.help.dh1" %>	
  <a href="http://www.railstutorial.org/help">
  <%= t "static_pages.help.dh3" %></a>.
  <%= t "static_pages.help.dh2" %>
  <a href="http://www.railstutorial.org/book"><em>,
  <%= t "static_pages.home.d3" %></em>
  </a>
</p>
