<% provide :title, t("static_pages.home.home1")  %>
<h1><%= t "static_pages.home.home1" %></h1>
<p>
  <%= t "static_pages.home.d1" %>
  <a href="http://www.railstutorial.org/"><%= t "static_pages.home.d3" %></a>
  <%= t "static_pages.home.d2" %>
</p>
<h1><%=t "static_pages.hello_world" %></h1>
