<footer class="footer">
  <small>
    <%= t "static_pages.about.about7" %> 
    <a href="http://www.railstutorial.org/">
    <%= t "static_pages.home.d3" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about.about0"), about_path %></li>
      <li><%= link_to t("static_pages.contact.contact_0"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/">
      <%= t "static_pages.news" %></a></li>
    </ul>
  </nav>
</footer>
