<footer class="footer">
  <small>
    <%= t "static_pages.about.the" %> 
    <a href="http://www.railstutorial.org/">
      <%= t "static_pages.home.rnr" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about.about"), about_path %></li>
      <li><%= link_to t("static_pages.contact.contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/">
        <%= t "static_pages.news" %></a></li>
    </ul>
  </nav>
</footer>
